@media only screen and (max-width: 768px) {
    body 
    .container {
        width: 90%;
    }

    .nav_block
    .nav_link {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .header_wrapper
   .nav_block {
    display: none;
   }

   .header_wrapper
   .burger_menu {
    display: block;
    transform: scale(1.5);
   }

   main .main_wrapper {
    margin-top: 50px;
   }

   main .main_inner h1 {
    font-size: 42px
   }

   main .main_inner p {
    max-width: 330px;
    font-size: 16px;
    margin: 20px 0;
   }

   .main_inner button {
    width: 140px;
    height: 50px;
   }
}
